@charset "UTF-8";

/**********************************************************************
 layout-row
**********************************************************************/
.layout-row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
