@charset "UTF-8";

@import '../foundation/style.css';


/**********************************************************************
 Accordion box

 [HTML]
 <div class="accordion-box">
   <ul class="list">
     <li class="item">
       <div class="heading-box">
         <time class="date">YYYY/MM/DD</time> 
         <h3 class="heading">HEADING TEXT HERE </h3>
       </div>
     </li>
     <li class="item [active]">
       <div class="heading-box has-content">
         <time class="date">YYYY/MM/DD</time>
         <h3 class="heading">HEADING TEXT HERE </h3>
       </div>
       <div class="content-box">TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</div>
     </li>
   </ul>
 </div>
**********************************************************************/
.accordion-box {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
}
.accordion-box > .list {
    list-style-type: none;
    margin: 0;
}
.accordion-box > .list > .item {
    border-bottom: 3px solid var(--nkw-color-light);
    box-sizing: border-box;
    overflow-y: hidden;
    padding: 10px 0;
}
@media screen and (min-width: 600px) {
    .accordion-box > .list > .item {
        padding: 20px 0;
    }
}
.accordion-box > .list > .item.has-content {
    cursor: pointer;
}
.accordion-box > .list > .item > .heading-box {
    box-sizing: border-box;
    width: 100%;
}
.accordion-box > .list > .item > .heading-box > .date {
    color: var(--nkw-color-gray);
    flex-shrink: 0;
    font-size: 0.8em;
    width: 100%;
}
.accordion-box > .list > .item > .heading-box > .heading {
    flex-wrap: wrap;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.75;
    margin: 0;
    position: relative;
    word-break: break-all;
}
.accordion-box > .list > .item > .heading-box.has-content {
    cursor: pointer;
    padding-right: 32px;
    position: relative;
}
.accordion-box > .list > .item > .heading-box.has-content::after {
    border-bottom: 2px solid var(--nkw-color-dark);
    border-right: 2px solid var(--nkw-color-dark);
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
    width: 8px;
}
.accordion-box > .list > .item.active > .heading-box.has-content::after {
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.accordion-box > .list > .item > .content-box {
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;
    word-break: break-all;
}
.accordion-box > .list > .item > .content-box::before {
    box-sizing: border-box;
    content: '';
    display: block;
    padding-top: 0;
    position: relative;
    transition: padding-top 0.3s ease-in-out;
}
.accordion-box > .list > .item.active > .content-box::before {
    padding-top: 10px;
}




