@charset "UTF-8";

@import '../foundation/style.css';


/**********************************************************************
 Box

 [HTML]
 <div class="box"></div>
**********************************************************************/
.box {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    width: calc(100% - 20px);
}
.box.full-width {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .box {
        padding: 20px;
        width: calc(100% - 40px);
    }
    .box.full-width {
        width: 100%;
    }
}
