@charset "UTF-8";


/**********************************************************************
 display
**********************************************************************/
.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


