@charset "UTF-8";

/**********************************************************************
 layout-column-[1-12]
**********************************************************************/
.layout-column-1 { width: 8.33%; }
.layout-column-2 { width: 16.66%; }
.layout-column-3 { width: 25%; }
.layout-column-4 { width: 33.33%; }
.layout-column-5 { width: 41.66%; }
.layout-column-6 { width: 50%; }
.layout-column-7 { width: 58.33%; }
.layout-column-8 { width: 66.66%; }
.layout-column-9 { width: 75%; }
.layout-column-10 { width: 83.33%; }
.layout-column-11 { width: 91.66%; }
.layout-column-12 { width: 100%; }

@media screen and (min-width: 600px) {
    .layout-column-1-media-min-width-600 { width: 8.33%; }
    .layout-column-2-media-min-width-600 { width: 16.66%; }
    .layout-column-3-media-min-width-600 { width: 25%; }
    .layout-column-4-media-min-width-600 { width: 33.33%; }
    .layout-column-5-media-min-width-600 { width: 41.66%; }
    .layout-column-6-media-min-width-600 { width: 50%; }
    .layout-column-7-media-min-width-600 { width: 58.33%; }
    .layout-column-8-media-min-width-600 { width: 66.66%; }
    .layout-column-9-media-min-width-600 { width: 75%; }
    .layout-column-10-media-min-width-600 { width: 83.33%; }
    .layout-column-11-media-min-width-600 { width: 91.66%; }
    .layout-column-12-media-min-width-600 { width: 100%; }
}

@media screen and (min-width: 768px) {
    .layout-column-1-media-min-width-768 { width: 8.33%; }
    .layout-column-2-media-min-width-768 { width: 16.66%; }
    .layout-column-3-media-min-width-768 { width: 25%; }
    .layout-column-4-media-min-width-768 { width: 33.33%; }
    .layout-column-5-media-min-width-768 { width: 41.66%; }
    .layout-column-6-media-min-width-768 { width: 50%; }
    .layout-column-7-media-min-width-768 { width: 58.33%; }
    .layout-column-8-media-min-width-768 { width: 66.66%; }
    .layout-column-9-media-min-width-768 { width: 75%; }
    .layout-column-10-media-min-width-768 { width: 83.33%; }
    .layout-column-11-media-min-width-768 { width: 91.66%; }
    .layout-column-12-media-min-width-768 { width: 100%; }
}

@media screen and (min-width: 896px) {
    .layout-column-1-media-min-width-896 { width: 8.33%; }
    .layout-column-2-media-min-width-896 { width: 16.66%; }
    .layout-column-3-media-min-width-896 { width: 25%; }
    .layout-column-4-media-min-width-896 { width: 33.33%; }
    .layout-column-5-media-min-width-896 { width: 41.66%; }
    .layout-column-6-media-min-width-896 { width: 50%; }
    .layout-column-7-media-min-width-896 { width: 58.33%; }
    .layout-column-8-media-min-width-896 { width: 66.66%; }
    .layout-column-9-media-min-width-896 { width: 75%; }
    .layout-column-10-media-min-width-896 { width: 83.33%; }
    .layout-column-11-media-min-width-896 { width: 91.66%; }
    .layout-column-12-media-min-width-896 { width: 100%; }
}

@media screen and (min-width: 1024px) {
    .layout-column-1-media-min-width-1024 { width: 8.33%; }
    .layout-column-2-media-min-width-1024 { width: 16.66%; }
    .layout-column-3-media-min-width-1024 { width: 25%; }
    .layout-column-4-media-min-width-1024 { width: 33.33%; }
    .layout-column-5-media-min-width-1024 { width: 41.66%; }
    .layout-column-6-media-min-width-1024 { width: 50%; }
    .layout-column-7-media-min-width-1024 { width: 58.33%; }
    .layout-column-8-media-min-width-1024 { width: 66.66%; }
    .layout-column-9-media-min-width-1024 { width: 75%; }
    .layout-column-10-media-min-width-1024 { width: 83.33%; }
    .layout-column-11-media-min-width-1024 { width: 91.66%; }
    .layout-column-12-media-min-width-1024 { width: 100%; }
}

@media screen and (min-width: 1200px) {
    .layout-column-1-media-min-width-1200 { width: 8.33%; }
    .layout-column-2-media-min-width-1200 { width: 16.66%; }
    .layout-column-3-media-min-width-1200 { width: 25%; }
    .layout-column-4-media-min-width-1200 { width: 33.33%; }
    .layout-column-5-media-min-width-1200 { width: 41.66%; }
    .layout-column-6-media-min-width-1200 { width: 50%; }
    .layout-column-7-media-min-width-1200 { width: 58.33%; }
    .layout-column-8-media-min-width-1200 { width: 66.66%; }
    .layout-column-9-media-min-width-1200 { width: 75%; }
    .layout-column-10-media-min-width-1200 { width: 83.33%; }
    .layout-column-11-media-min-width-1200 { width: 91.66%; }
    .layout-column-12-media-min-width-1200 { width: 100%; }
}
